/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme: light dark;

  --background: light-dark(#a87825, #29221f);
  --text: light-dark(#29221f, #f7efe3);
  --heading: light-dark(#341732, #d6a63d);
  --accent: light-dark(#c85c3a, #e08a5b);

  --gradient: light-dark(
    linear-gradient(135deg, #542c52, #c85c3a, #d6a63d),
    linear-gradient(135deg, #542c52, #8f3d36, #a87825)
  );
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

header {
  background: linear-gradient(135deg, #542c52, #c85c3a, #d6a63d);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (width> 700px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

h1,
h2,
h3 {
  font-family: "Fjalla One", sans-serif;
  color: var(--heading);
}

section img {
  width: 100%;
  max-width: 250px;
  display: block;
  margin-inline: auto;
}

a {
  font-family: "DM Sans", sans-serif;
  color: var(--heading);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: underline;
}
