/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

html {
  color-scheme: light dark;

  --background: light-dark(#7c9e7e, #e38a82)
    --text: light-dark(#fff69c, #000000) --heading: light-dark(#542c52, #e8b56a);
  --accent: light-dark(#c96832, #e89a63);
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #7c9e7e;
  color: var(--text);
  color-scheme: light dark;
}

h1,
h2,
h3 {
  font-family: "Fjalla One", sans-serif;
  color: var(--heading);
}

section img {
  width: 80%;
  max-width: 250px;
  display: block;
}

a {
  font-family: "DM Sans", sans-serif;
  color: var(--heading);
  text-decoration: none;
}

a:hover {
  color: var(--accent);
  text-decoration: underline;
}
