/* HIER KOMT JOUW CSS */
@font-face {
  font-family: "Comic Relief";
  src: url(../type/ComicRelief-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: #af5757;
  color: #29221f;
  color-scheme: light dark;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
  color: #523059;
}
